@import "tailwindcss";

@theme {
  --animate-draw-x-left: drawX 200ms ease-in forwards 1;
  --animate-draw-x-right: drawX 200ms ease-in forwards 1 100ms;
  --animate-shine: shine 150ms infinite;
  @keyframes drawX {
    to {
      stroke-dashoffset: 0;
    }
  }
  @keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    to {
      -webkit-mask-position: -50%;
    }
  }
}
